.about{
    background-image: url(../img/about-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    .container{
        @extend %flex-2;
        flex-wrap: wrap;
        padding: 120px 0;
    }
    &__title{
        color: $white;
        font-size: 64px;
        line-height: 100px;
    }
    &__right{
        width: 65%;
    }
    &__line{
        margin-bottom: 40px;
    }
    &__desc{
        @extend %desc-1;
    }
}